@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea {
    @apply py-2 px-3.5 border border-solid border-gray-300 rounded;

    appearance: none;
    font-size: theme(fontSize.base);
    background-color: transparent;
    transition-property: background-color, box-shadow;
    transition-timing-function: theme(transitionTimingFunction.DEFAULT);
    transition-duration: theme(transitionDuration.DEFAULT);

    &:disabled {
      @apply text-gray-700 bg-gray-100;
    }

    &:focus {
      @apply outline-none;

      &:not(:read-only) {
        @apply text-black bg-white shadow-ring;
      }
    }
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-gray;

    opacity: 1;
  }

  select {
    @apply py-2 px-3.5 bg-white border border-solid border-primary rounded;

    appearance: none;
    padding-right: 2.875rem;
    font-size: theme(fontSize.base);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E"),
      linear-gradient(
        270deg,
        theme(colors.primary.DEFAULT),
        theme(colors.primary.DEFAULT) 2rem,
        transparent 0
      );
    background-repeat: no-repeat;
    background-position: right 0.5rem center, 0 0;
    background-size: 1rem 0.75rem, auto auto;
    transition-property: color, background-color;
    transition-timing-function: theme(transitionTimingFunction.DEFAULT);
    transition-duration: theme(transitionDuration.DEFAULT);

    &:focus {
      @apply outline-none text-white bg-primary;
    }
  }

  .form-select-sm {
    @apply py-1 pl-2 rounded-sm;

    padding-right: 2rem;
    font-size: theme(fontSize.sm);
  }

  [type='checkbox'],
  [type='radio'] {
    @apply w-4 h-4 text-primary bg-white border border-gray-300;

    display: inline-block;
    padding: 0;
    margin-top: 0.25em;
    vertical-align: middle;
    flex-shrink: 0;
    appearance: none;
    user-select: none;
    print-color-adjust: exact;
    background-origin: border-box;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: theme(transitionTimingFunction.DEFAULT);
    transition-duration: theme(transitionDuration.DEFAULT);

    &:focus {
      @apply outline-none shadow-ring;
    }

    &:checked {
      background-color: currentColor;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      border-color: currentColor;
    }
  }

  [type='checkbox'] {
    @apply rounded-sm;

    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    }
  }

  [type='radio'] {
    border-radius: 100%;

    &:checked {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }
  }
}
