{% load wagtailadmin_tags %}

<form method="post" novalidate>
  {% csrf_token %}
  {{ formset.management_form }}

  <table{% if table.classname %} class="{{ table.classname }}"{% endif %}>
    {% if table.has_column_widths %}
      {% for column in table.columns.values %}
        <col{% if column.width %} width="{{ column.width }}"{% endif %} />
      {% endfor %}
    {% endif %}
    <thead>
      <tr{% if table.header_row_classname %} class="{{ table.header_row_classname }}"{% endif %}>
        {% for column in table.columns.values %}
          {% component column.header %}
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table.rows %}
        <tr{% if row.classname %} class="{{ row.classname }}"{% endif %}>
          {{ row.form.id }}

          {% for cell in row.values %}
            {% component cell %}
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if table.data|length %}
    <div class="formset-actions">
      <button type="submit" class="button">Mettre à jour</button>
    </div>
  {% endif %}
</form>
