{% extends "base.html" %}
{% load tapeforms %}

{% block content %}
<div class="container my-8 max-w-md lg:my-12">
  <form method="post" action="{% url "account:login" %}" autocomplete="off" novalidate>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">

    {% if form.errors %}
      {% for error in form.non_field_errors %}
        {% alert "error" error %}
      {% empty %}
        {% alert "error" "L’adresse mail et/ou le mot de passe sont incorrects." %}
      {% endfor %}
    {% elif next %}
      {% if user.is_authenticated %}
        {% alert "warning" "Votre compte n’a pas les droits d’accès à cette page." %}
      {% else %}
        {% alert "warning" "Veuillez vous connecter pour voir cette page." %}
      {% endif %}
    {% endif %}

    {% formfield form.username %}
    {% formfield form.password %}

    <button type="submit" class="btn btn-primary block w-full mt-7 mb-4">Connexion</button>

    <div class="text-right">
      <a href="{% url "account:password_reset" %}" class="text-sm text-gray-900 underline underline-offset-2 hover:text-black">Mot de passe oublié ?</a>
    </div>
  </form>
</div>
{% endblock %}
