{% extends "base.html" %}
{% load tapeforms %}

{% block content %}
<div class="container my-8 max-w-md lg:my-12">
  {% if validlink %}
    <form method="post" novalidate>
      {% csrf_token %}
      {% form form %}

      <button type="submit" class="btn btn-primary block w-full mt-7">Enregistrer</button>
    </form>
  {% else %}
    <div class="alert alert-error" role="alert">
      <div>
        <h4 class="mb-2 text-xl font-bold">Lien incorrect ou expiré</h4>
        <p>Il n’est pas possible de réinitialiser votre mot de passe depuis ce lien. Vous pouvez demander le <a href="{% url "account:password_reset" %}" class="underline underline-offset-2 hover:text-black">renvoi d’un courriel</a> afin d’obtenir un nouveau lien. Si l’erreur persiste, n’hésitez pas à nous contacter.</p>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
