{% extends "base_account.html" %}
{% load tapeforms %}

{% block page_content %}
<h3 class="mb-4 text-2xl font-bold">Mon mot de passe</h3>

<form method="post" action="{% url "account:password_change" %}" novalidate>
  {% csrf_token %}
  {% form form %}

  <div class="mt-8 text-right">
    <a href="{% url "account:profile_update" %}" class="btn btn-outline-primary">Annuler</a>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
</form>
{% endblock %}
