{% extends "base_account.html" %}
{% load tapeforms %}

{% block page_content %}
<section class="mb-8 lg:mb-12">
  <h3 class="mb-4 text-2xl font-bold">Coordonnées</h3>

  <form method="post" action="{% url "account:profile_update" %}" novalidate>
    {% csrf_token %}
    {% form form %}

    <div class="mt-8 text-right">
      <button type="submit" class="btn btn-primary">Mettre à jour</button>
    </div>
  </form>
</section>

<section class="my-8 lg:my-12">
  <h3 class="mb-4 text-2xl font-bold">Identifiants de connexion</h3>

  <div class="flex flex-wrap gap-x-4 mb-7">
    <label class="shrink w-full py-2 sm:flex-initial sm:w-auto" for="userEmail">Adresse mail :</label>
    <div class="flex-auto">
      <input type="text" readonly class="w-full px-0 border-0" id="userEmail" value="{{ object.email }}">
    </div>
    <div class="flex-initial">
      <a href="{% url "account:email_change" %}" class="btn btn-outline-primary" aria-label="Changer mon adresse mail">
        {% icon "pencil" %}<span class="hidden sm:inline ml-1">Modifier</span>
      </a>
    </div>
  </div>

  <a href="{% url "account:password_change" %}" class="btn btn-outline-primary">Changer mon mot de passe</a>
</section>
{% endblock %}
