{% extends "base_account.html" %}
{% load tapeforms %}

{% block page_content %}
<form method="post" action="{% url "account:subscriptions_update" %}" novalidate>
  {% csrf_token %}

  <h3 class="mb-4 text-2xl font-bold">Infolettres</h3>
  {% form form %}

  <div class="mt-8 text-right">
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
</form>
{% endblock %}
