<div class="{% if container_css_class %}{{ container_css_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
  {% if widget_class_name == "checkboxinput" %}
    <div class="flex items-start gap-x-2">
      {{ field }}
      {% include "./_label.html" %}
    </div>
  {% else %}
    {% include "./_label.html" %}
    {{ field }}
  {% endif %}

  {% for error in errors %}
    <p class="mt-1 text-sm text-error">{{ error }}</p>
  {% endfor %}

  {% if help_text %}
    <div class="mt-1 text-sm text-gray-700">{{ help_text }}</div>
  {% endif %}
</div>
