{% extends "base.html" %}
{% load tapeforms %}

{% block content %}
<div class="container my-8 max-w-md lg:my-12">
  <form method="post" action="{% url "newsletter:unsubscribe" %}" novalidate>
    {% csrf_token %}
    {% form form %}

    <button type="submit" class="btn btn-primary block w-full mt-7">Se désabonner</button>
  </form>
</div>
{% endblock %}
