{% extends "wagtailadmin/generic/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block extra_css %}
  {{ block.super }}

  <style>
    section {
      margin-top: 2em;
    }
  </style>
{% endblock %}

{% block main_content %}
  {% if not reports %}
    {% help_block status="info" %}
      Cette page vous permets de répartir des commandes passées sur <b>CoopCircuits</b> en fonction des stocks actuels, et de générer pour ces commandes des rapports par point de retrait et par producteur⋅rice.</p>
    {% endhelp_block %}

    <section>
      <form action="{{ index_url }}" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <ul class="fields">
          {% for field in form %}
            {% if field.is_hidden %}
              {{ field }}
            {% else %}
              {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
            {% endif %}
          {% endfor %}
          <li>
            <button type="submit" class="button button-longrunning" data-clicked-text="Génération…">
              {% icon name="spinner" %}<em>{% trans "Générer" %}</em>
            </button>
          </li>
        </ul>
      </form>
    </section>
  {% else %}
    {% for report_name, report_data in reports %}
      <section>
        <h2>{{ report_name }}</h2>
        <ul class="listing">
          {% for name, path in report_data %}
            <li>
              <a href="{{ path }}" download>{{ name }}</a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  {% endif %}
{% endblock %}
