{% extends "wagtailadmin/generic/form.html" %}
{% load wagtailadmin_tags %}

{% block header %}
  {% if breadcrumbs_items %}
    {% include "admin/generic/headers/slim_header.html" %}
  {% endif %}
  {% include "wagtailadmin/shared/header.html" with title=page_title subtitle=page_subtitle icon=header_icon only %}
{% endblock %}

{% block main_content %}
  {% block before_form %}{% endblock %}
  <form action="{{ action_url }}" method="POST" novalidate{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}

    {% if panel %}
      {{ panel.render_form_content }}
    {% else %}
      {% block hidden_fields %}
        {% for field in form.hidden_fields %}{{ field }}{% endfor %}
      {% endblock %}

      <ul class="fields">
        {% block visible_fields %}
          {% for field in form.visible_fields %}
            <li>
              {% include "wagtailadmin/shared/field.html" %}
            </li>
          {% endfor %}
        {% endblock %}
      </ul>
    {% endif %}

    {% block actions %}
      <button type="submit" class="button">{{ submit_button_label }}</button>
    {% endblock %}
  </form>
  {% block after_form %}{% endblock %}
{% endblock %}
