{% extends "wagtailadmin/generic/listing_results.html" %}

{% block no_results_message %}
  {% if is_searching or is_filtering %}
    <p role="alert">Désolé, aucun élément ne correspond à votre recherche.</p>
  {% else %}
    <p class="no-results-message">
      Aucun élément n'a été créé.{% if add_url %} Pourquoi ne pas <a href="{{ add_url }}">en ajouter un</a> ?{% endif %}
    </p>
  {% endif %}
{% endblock %}
