{% extends "wagtailadmin/generic/base.html" %}
{% load wagtailadmin_tags %}

{% block header %}
  {% if breadcrumbs_items %}
    {% include "admin/generic/headers/slim_header.html" %}
  {% endif %}
  {% fragment as extra_actions %}
    {% if edit_url %}
      <div class="actionbutton">
        <a href="{{ edit_url }}" class="button">{{ edit_item_label }}</a>
      </div>
    {% endif %}
    {% if delete_url %}
      <div class="actionbutton">
        <a href="{{ delete_url }}" class="button no">{{ delete_item_label }}</a>
      </div>
    {% endif %}
  {% endfragment %}
  {% include "wagtailadmin/shared/header.html" with title=page_title subtitle=page_subtitle extra_actions=extra_actions icon=header_icon %}
{% endblock %}

{% block main_content %}
  {% for row in fields %}
    {% if row|length > 1 %}<div class="w-field-row">{% endif %}
    {% for field in row %}
      {% include "admin/includes/field_value.html" with field=field only %}
    {% endfor %}
    {% if row|length > 1 %}</div>{% endif %}
  {% endfor %}
{% endblock %}
