@page {
  margin: 1.25cm 1.5cm;

  @bottom-right {
    color: #8b8874;
    content: 'Généré le {% now "j F Y à H:i" %}';
    font-size: 9pt;
  }
}

html {
  color: #000;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', 'Liberation Sans', Arial, sans-serif;
  font-size: 11pt;
  line-height: 1.5;
}

body {
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0 0 1.15em;
  color: #212529;
  font-size: 26pt;
  line-height: 1.25;
  text-align: center;
}

table {
  width: 100%;
  border-color: #dee2e6;
  border-collapse: collapse;
}

tbody,
td,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

th,
td {
  padding: 2mm;
  border-bottom-width: 1px;
}

th {
  color: #495057;
  font-weight: bold;
  text-transform: uppercase;
}

tbody > tr:nth-of-type(2n + 1) > * {
  background-color: #f2f2f2;
}
