<html>
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>

    <style>
      {% include "products/reports/_common.css" %}

      th:first-of-type {
        width: 1px;
      }
      td:first-of-type {
        font-weight: bold;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <h1>{{ name }}</h1>

    <table>
      <thead>
        <tr>
          {% for header in headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in data %}
          <tr>
            {% for cell in row %}
              <td>{{ cell }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
