{% load wagtailcore_tags %}
{% if value.columns %}
<div class="flex flex-wrap gap-4{% if css_class %} {{ css_class }}{% endif %}">
  {% for column in value.columns %}
    <div class="shrink w-full md:flex-1 md:w-auto">
      {% for block in column %}
        {% include_block block %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endif %}
