{% load wagtailcore_tags %}
<section class="px-7 py-12 {{ css_class }}">
  <div class="container">
    {% if value.title %}
      <h3 class="not-prose mb-12 text-4xl font-light text-center uppercase">{{ value.title }}</h3>
    {% endif %}
    {% for block in value.blocks %}
      {% include_block block %}
    {% endfor %}
  </div>
</section>
