{% load wagtailcore_tags %}
<a href="{% pageurl value.page_link %}" class="btn btn-primary py-3.5 px-6 min-w-[230px] shadow-sm sm:py-4">
  <div class="font-heading font-light text-xl leading-5 uppercase">{{ value.title }}</div>
  {% if value.subtitle %}
    <hr class="my-2 mx-auto w-4/5 text-current">
    <div class="text-lg leading-5">{{ value.subtitle }}</div>
  {% endif %}
</a>
