{% load wagtailimages_tags %}
<figure>
  {% if value.link.href %}
    <a href="{{ value.link.href }}" class="not-prose">
  {% endif %}
  {% image value.image max-1200x1200 %}
  {% if value.link.href %}
    </a>
  {% endif %}
  {% if value.caption %}
    <figcaption>{{ value.caption }}</figcaption>
  {% endif %}
</figure>
