{% load wagtailcore_tags wagtailimages_tags %}
<div class="flex flex-wrap gap-4 md:gap-6 lg:gap-8">
  <div class="shrink w-full md:flex-initial md:w-auto">
    {% image value.image fill-280x280 class="mx-auto" %}
  </div>
  <div class="shrink w-full md:flex-1 md:w-auto">
    {% for block in value.body %}
      {% include_block block %}
    {% endfor %}
  </div>
</div>
