{% load tapeforms %}
<section class="px-7 py-12 bg-secondary text-gray-800">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-4 lg:grid-cols-12 lg:gap-12">
      <div class="lg:col-span-7">
        <h3>{{ value.title }}</h3>
        <p>{{ value.description }}</p>
      </div>
      <div class="text-right lg:col-span-5">
        {% if request.user.is_authenticated %}
          <a href="{% url "account:subscriptions_update" %}" class="btn btn-primary">Gérer mes abonnements…</a>
        {% else %}
          <form method="post" action="{% url "newsletter:subscribe" %}" novalidate data-controller="checkbox-enabler">
            {% csrf_token %}
            <div class="flex flex-wrap items-stretch">
              <input type="email" class="flex-auto w-px bg-white rounded-r-none" name="email" placeholder="Adresse mail" aria-label="Votre adresse mail">
              <button type="submit" class="btn btn-primary -ml-px rounded-l-none" data-checkbox-enabler-target="item">S’abonner</button>
            </div>
            {% formfield form.newsletters %}
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</section>
