{% extends "base.html" %}

{% block title %}Page introuvable{% endblock %}

{% block header %}
  {% include "includes/header.html" with title="Page introuvable" %}
{% endblock %}

{% block content %}
<div class="container my-8 max-w-lg lg:my-12">
  {% alert "warning" "<b>Oops !</b> La page que vous demandez semble introuvable…" classname="text-center" %}
</div>
{% endblock %}
