{% extends "base.html" %}

{% block title %}Erreur interne{% endblock %}

{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block header %}
  {% include "includes/header.html" with title="Erreur interne" %}
{% endblock %}

{% block content %}
<div class="container my-8 max-w-lg lg:my-12">
  {% alert "error" "<b>Oops !</b> Une erreur innattendue est survenue." classname="text-center" %}
</div>
{% endblock %}
