{% extends "base.html" %}

{% block content %}
<div class="container my-8 lg:my-12">
  <div class="flex flex-wrap justify-between gap-7">
    <div class="shrink w-full lg:w-3/12">
      <nav class="flex flex-wrap text-primary bg-white border border-solid border-primary rounded lg:flex-col" id="submenu">
        {% for item in account_menu_items %}
          <a href="{{ item.url }}" class="block py-2 px-4 flex-auto text-center lg:text-left active:text-white active:bg-primary{% if item == current_account_item %} text-white bg-primary" aria-current="page{% endif %}">
            {% if item.icon_name %}{% icon item.icon_name classname="mr-1" %}{% endif %}{{ item.label }}
          </a>
        {% endfor %}
      </nav>
    </div>
    <div class="shrink w-full lg:w-8/12 xl:w-7/12">
      {% block page_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
