{% load static %}<!DOCTYPE html>
<html class="no-js" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ seo_title|striptags }}{% endblock %} - LocoLys</title>

    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "safari-pinned-tab.svg" %}" color="#285a5b">
    <link rel="shortcut icon" href="{% static "favicon.ico" %}">
    <meta name="apple-mobile-web-app-title" content="LocoLys">
    <meta name="application-name" content="LocoLys">
    <meta name="msapplication-TileColor" content="#285a5b">
    <meta name="msapplication-config" content="{% static "browserconfig.xml" %}">
    <meta name="theme-color" content="#dbdad0">

    {% block css %}
    <link rel="stylesheet" href="{% static "main.css" %}">
    {% endblock %}

    {% block javascript %}
    <script>
      window.STATIC_URL = '{% get_static_prefix %}';
    </script>
    <script src="{% static "main.js" %}" defer></script>
    {% endblock %}

    {% block extra_head %}{% endblock %}
  </head>
  <body class="flex flex-col min-h-screen">
    {% block topbar %}
      {% include "includes/topbar.html" %}
    {% endblock %}

    <main class="flex-auto">
      {% if messages %}
        <div class="fixed right-0 z-50 p-4 w-full md:w-max md:max-w-lg">
          {% for message in messages %}
            {% alert message.tags message dismissible=True %}
          {% endfor %}
        </div>
      {% endif %}

      {% block header %}
        {% include "includes/header.html" %}
      {% endblock %}

      {% block content %}{% endblock %}
    </main>

    {% block footer %}
      {% include "includes/footer.html" %}
    {% endblock %}
  </body>
</html>
