{% load static navigation %}
<footer class="container">
  <div class="flex items-center py-7">
    <div class="hidden flex-initial md:block">
      <img src="{% static "img/poules.png" %}" class="mr-7" alt="">
    </div>
    <div class="flex-auto">
      <nav class="flex flex-wrap flex-col items-start justify-center text-primary sm:flex-row md:items-center">
        {% get_site_root as site_root %}
        {% footer_menu parent=site_root current_page=self %}

        {% if site_settings.facebook_url or site_settings.instagram_url %}
          <div class="flex items-center self-center mt-4 sm:mt-0 sm:ml-4 lg:ml-12">
            <b class="mb-0 mr-4 text-gray-900 text-lg">Suivez-nous :</b>
            {% if site_settings.facebook_url %}
              <a href="{{ site_settings.facebook_url }}" class="py-2 px-4" rel="noopener" aria-label="Page Facebook">
                {% icon "facebook" classname="icon-2xl" %}
              </a>
            {% endif %}
            {% if site_settings.instagram_url %}
              <a href="{{ site_settings.instagram_url }}" class="py-2 px-4" rel="noopener" aria-label="Page Instagram">
                {% icon "instagram" classname="icon-2xl" %}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </nav>
      <hr class="my-4 border-black opacity-20">
      <div class="text-sm text-gray-800 text-center">
        <b>LocoLys</b> - Développé sous <a class="underline underline-offset-2 hover:text-black" href="https://framagit.org/locolys/website">licence libre</a> avec du <a class="underline underline-offset-2 hover:text-black" href="https://fr.wikipedia.org/wiki/Logiciel_libre">logiciel libre</a>
      </div>
    </div>
  </div>
</footer>
