{% load wagtailcore_tags %}
<header class="bg-white">
  <div class="container py-7 max-w-screen-xl text-center lg:py-12">
    {% if parent_page %}
      <div class="mb-2">
        <a href="{% pageurl parent_page %}" class="uppercase text-gray underline underline-offset-2 hover:text-gray-600">{{ parent_page.title }}</a>
      </div>
    {% endif %}
    <h2 class="text-3xl uppercase md:text-5xl">{{ title }}</h2>
    {% if introduction %}
      <p class="mt-4 font-heading font-light text-xl">{{ introduction }}</p>
    {% endif %}
  </div>
</header>
