{% load static wagtailcore_tags navigation %}
{% get_site_root as site_root %}
<nav class="sticky top-0 z-10 text-black bg-white shadow-sm" aria-label="Barre de navigation" data-controller="reveal" data-reveal-hidden-class="hidden">
  <div class="container flex items-stretch justify-between">
    <a class="self-center py-2.5 mr-4 text-2xl outline-offset-[-2px]" href="{% pageurl site_root %}">
      <img src="{% static "img/logo_topbar.svg" %}" alt="LocoLys" class="h-11">
    </a>
    <div class="fixed inset-0 z-20 hidden flex justify-center items-center bg-white md:static md:flex md:flex-auto md:items-stretch" id="mainMenu" data-reveal-target="item">
      {% main_menu parent=site_root current_page=self %}
      <button type="button" class="absolute top-4 right-4 leading-none p-1 md:hidden" aria-label="Fermer le menu" aria-controls="mainMenu" data-action="click->reveal#hide">
        {% icon "x-lg" classname="icon-2xl" %}
      </button>
    </div>

    <ul class="flex">
      {% if request.user.is_authenticated %}
        <li class="relative" data-controller="dropdown" data-dropdown-active-class="text-white bg-primary">
          <button type="button" class="flex justify-center items-center p-4 h-full text-lg outline-offset-[-2px] active:text-white active:bg-primary" aria-label="Basculer le menu utilisateur" aria-controls="userMenu" aria-expanded="false" data-action="click->dropdown#toggle:stop keydown.esc->dropdown#close click@window->dropdown#close" data-dropdown-target="toggler">
            {% icon "person-circle" classname="icon-xl" %}{% icon "chevron-down" classname="icon-xl ml-2" %}
          </button>
          <ul class="absolute top-full right-0 z-10 py-2 text-gray-800 bg-white border-solid border-primary border-t-2 shadow-sm" id="userMenu" style="display: none;" data-dropdown-target="menu">
            {% if request.user.is_staff %}
              <li>
                <a href="{% url "wagtailadmin_home" %}" class="block py-1 px-4 whitespace-nowrap hover:bg-gray-100 active:text-white active:bg-primary">Administration</a>
              </li>
              <li><hr class="my-2 border-solid border-black border-t-1 opacity-10"></li>
            {% endif %}
            <li>
              <a href="{% url "account:profile_update" %}" class="block py-1 px-4 whitespace-nowrap hover:bg-gray-100 active:text-white active:bg-primary">Mon compte</a>
            </li>
            <li>
              <form id="logout-form" method="post" action="{% url "account:logout" %}">
                {% csrf_token %}
                <button type="submit" class="block py-1 px-4 border-0 whitespace-nowrap hover:bg-gray-100 active:text-white active:bg-primary">Se déconnecter</button>
              </form>
            </li>
          </ul>
        </li>
      {% endif %}
      <li class="relative md:hidden">
        <button type="button" class="flex justify-center items-center py-4 px-3 h-full outline-offset-[-2px] active:text-white active:bg-primary" aria-controls="mainMenu" data-action="click->reveal#toggle" data-reveal-target="toggler">
          {% icon "list" classname="icon-2xl" %}
        </button>
      </li>
    </ul>
  </div>
</nav>
