{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags datetime %}

{% block header %}{% endblock %}

{% block content %}
{% image page.header_background_image fill-660x660 as header_bg_img_sm %}
{% image page.header_background_image fill-1024x800 as header_bg_img_lg %}
{% image page.header_background_image fill-2200x1300 as header_bg_img %}
<header class="flex items-center min-h-[60vh] bg-center bg-no-repeat bg-cover bg-[url:var(--bg-image-sm)] sm:bg-[url:var(--bg-image-lg)] lg:bg-[url:var(--bg-image)]" style="--bg-image: url('{{ header_bg_img.url|escape }}'); --bg-image-sm: url('{{ header_bg_img_sm.url|escape }}'); --bg-image-lg: url('{{ header_bg_img_lg.url|escape }}')">
  <div class="container py-12">
    <img class="mx-auto bg-white/75 shadow-sm" src="{% static "img/logo_home.svg" %}" alt="LocoLys - Pour une autre consommation accessible, locale et conviviale">

    {% if page.header_content %}
      <div class="flex flex-wrap gap-4 mt-6 items-center justify-center sm:gap-12 lg:mt-12">
        {% for block in page.header_content %}
          <div class="flex-initial">
            {% include_block block %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</header>

<div class="flex flex-wrap items-center justify-center xl:items-stretch xl:m-7">
  <div class="w-full flex items-center justify-center p-7 bg-secondary xl:flex-1 xl:w-auto xl:p-12">
    <div class="prose max-w-screen-md mx-auto text-center">
      {{ page.presentation|richtext }}
    </div>
  </div>
  {% image page.block_1_background_image fill-800x800 as block_1_bg_img %}
  <div class="flex items-center justify-center px-4 bg-center bg-no-repeat bg-cover{% if page.block_1_content %} mt-7 xl:mt-0{% endif %} xl:flex-1 xl:order-first xl:p-12 xl:bg-[url:var(--bg-image)]" style="--bg-image: url('{{ block_1_bg_img.url|escape }}')">
    {% for block in page.block_1_content %}
      {% include_block block %}
    {% endfor %}
  </div>
  {% image page.block_2_background_image fill-800x800 as block_2_bg_img %}
  <div class="flex items-center justify-center px-4 bg-center bg-no-repeat bg-cover{% if page.block_2_content %} mt-7 xl:mt-0{% endif %} xl:flex-1 xl:p-12 xl:bg-[url:var(--bg-image)]" style="--bg-image: url('{{ block_2_bg_img.url|escape }}')">
    {% for block in page.block_2_content %}
      {% include_block block %}
    {% endfor %}
  </div>
</div>

{% if last_posts %}
  <section class="p-7 mt-7 bg-white">
    <div class="grid grid-cols-1 gap-4 max-w-screen-md mx-auto xl:grid-cols-3 xl:max-w-none">
      <h3 class="text-lg uppercase md:text-xl xl:text-center">{{ page.last_posts_title }}</h3>
      <ul class="grid grid-cols-1 gap-6">
        {% for post in last_posts %}
          <li class="flex flex-wrap items-center gap-2 md:gap-6">
            <div class="flex-1 flex flex-wrap items-baseline md:gap-x-4">
              <h4 class="flex-initial w-full text-lg font-bold md:w-auto xl:w-full">{{ post.title }}</h4>
              <div class="flex-initial w-full text-sm text-gray md:w-auto xl:w-full">{{ post.date_published|datesince }}</div>
            </div>
            <div class="flex-initial">
              <a href="{% pageurl post %}" class="btn btn-outline-primary btn-sm">Lire la suite</a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
{% endblock %}
