{% extends "base.html" %}
{% load wagtailcore_tags datetime %}

{% block content %}
<section class="container my-8 max-w-screen-sm lg:my-12">
  {% if posts %}
    <ul class="grid grid-cols-1 gap-6">
      {% for post in posts %}
        <li class="flex flex-wrap items-center gap-2">
          <div class="flex-1 flex flex-wrap items-baseline">
            <h3 class="flex-initial w-full text-lg font-bold">{{ post.title }}</h3>
            <div class="flex-initial w-full text-sm text-gray">{{ post.date_published|datesince }}</div>
          </div>
          <div class="flex-initial">
            <a href="{% pageurl post %}" class="btn btn-outline-primary btn-sm">Lire la suite</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    {% alert "info" "Il n'y a aucun article pour le moment, revenez plus tard !" classname="text-center" %}
  {% endif %}
</section>
{% endblock %}
