{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block header %}
{% include "includes/header.html" with parent_page=page.get_parent %}
{% endblock %}

{% block content %}
<div class="container mt-4 max-w-screen-lg">
  <div class="text-right text-gray">Publié le {{ page.date_published }}</div>

  <article class="prose my-8 lg:my-12">
    {{ page.body|richtext }}
  </article>
</div>
{% endblock %}
