{% extends "forms/layouts/default.html" %}
{% load tapeforms %}

{% block visible_fields %}
<div class="flex flex-wrap gap-x-4">
  <div class="w-full sm:flex-1 sm:w-auto">
    {% formfield form.first_name %}
  </div>
  <div class="w-full sm:flex-1 sm:w-auto">
    {% formfield form.last_name %}
  </div>
</div>

{% formfield form.phone %}

{% formfield form.address %}
{% formfield form.city %}
{% endblock %}
