{% comment "text/markdown" %}

    A `field` variable is expected by this template with the following attributes:

    - `name` - name of the field
    - `label` - label of the field
    - `value` - value of the field

{% endcomment %}
<div class="w-panel__wrapper">
  <label id="id_{{ field.name }}-label" class="w-field__label">{{ field.label|capfirst }}</label>
  <div class="w-field__wrapper">
    {% block field_value %}
      <div class="w-field__value" aria-labelledby="id_{{ field.name }}-label">{{ field.value }}</div>
    {% endblock %}
  </div>
</div>
