/* stylelint-disable selector-class-pattern */

/**
 * Espace les deux champs de filters.IntegerRangeWidget.
 */

.integerrange_field input:last-of-type {
  margin-top: 1rem;
}

/**
 * Mets en forme la valeur d'un champ pour views.generic.DetailView.
 */

.w-field__value {
  margin-top: 0.25rem;
  color: var(--w-color-text-context);
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.5;
}

/**
 * Mets en forme ui.FormSetTable.
 */

.listing--formset .w-field__errors .error-message {
  font-weight: inherit;
  margin: 0 0 0.125rem;
}

.listing--formset .w-field__help,
.listing--formset .w-field__errors-icon {
  display: none;
}

.formset-actions {
  text-align: right;
}
