{% comment %}

  The following parameters are expected:

  level: str - The variant of the alert
  message: str - The content of the alert
  classname: str = '' - Any additional classes to apply to the container
  dismissible: bool = False - Whether it is possible to dismiss this alert
  dismissible_focused: str = '' - The selector of the element which will be focused once dismissed

{% endcomment %}
<div class="alert alert-{{ level }}{% if classname %} {{ classname }}{% endif %}" role="alert"{% if dismissible %} data-controller="dismissible"{% if dismissible_focused %} data-dismissible-focused-value="{{ dismissible_focused }}"{% endif %}{% endif %}>
  <div class="flex-auto">{{ message }}</div>
  {% if dismissible %}
    <button type="button" class="p-0.5 -mr-1 ml-2 leading-none" aria-label="Fermer" data-action="click->dismissible#dismiss">
      {% icon "x-lg" classname="icon-xl" %}
    </button>
  {% endif %}
</div>
