{% load wagtailcore_tags %}
<ul class="flex flex-col gap-4 md:flex-row md:gap-0">
  {% for page in items %}
    <li class="relative flex justify-center items-stretch"{% if page.has_children %} data-controller="dropdown" data-dropdown-active-class="text-white bg-primary"{% endif %}>
      <a href="{% pageurl page %}" class="flex justify-center items-center py-2 {% if page.has_children %}pr-2 pl-4{% else %}px-4{% endif %} text-center uppercase outline-offset-[-2px] active:text-primary{% if page.is_active %} text-primary" aria-current="page{% endif %}">{{ page.title }}</a>
      {% if page.has_children %}
        <button type="button" class="flex justify-center items-center py-2 px-1 outline-offset-[-2px]" aria-label="Basculer le sous-menu" aria-controls="subMenu{{ page.pk }}" aria-expanded="false" data-action="click->dropdown#toggle:stop keydown.esc->dropdown#close click@window->dropdown#close" data-dropdown-target="toggler">
          {% icon "chevron-down" %}
        </button>
        <ul class="absolute top-full right-0 z-10 py-2 text-gray-800 bg-white border-solid border-primary border-t-2 shadow-sm" id="subMenu{{ page.pk }}" style="display: none;" data-dropdown-target="menu">
          {% for child_page in page.children %}
            <li>
              <a href="{% pageurl child_page %}" class="block py-1 px-4 whitespace-nowrap hover:bg-gray-100 active:text-white active:bg-primary{% if child_page.is_active %} !text-white !bg-primary" aria-current="page{% endif %}">{{ child_page.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
