{% load wagtailadmin_tags i18n %}
{% fragment as nav_icon_classes %}w-w-4 w-h-4 group-hover:w-transform group-hover:w-scale-110{% endfragment %}
{% fragment as nav_icon_button_classes %}w-w-slim-header w-h-slim-header w-bg-transparent w-border-transparent w-box-border w-py-3 w-px-3 w-flex w-justify-center w-items-center w-outline-offset-inside w-text-text-meta w-transition w-group hover:w-text-text-label focus:w-text-text-label expanded:w-text-text-label expanded:w-border-y-2 expanded:w-border-b-current w-shrink-0{% endfragment %}
{% fragment as nav_icon_counter_classes %}-w-mr-3 w-py-0.5 w-px-[0.325rem] w-translate-y-[-8px] rtl:w-translate-x-[4px] w-translate-x-[-4px] w-text-[0.5625rem] w-font-bold w-text-text-button w-border w-border-surface-page w-rounded-[1rem]{% endfragment %}
{# Z index 99 to ensure header is always above  #}
<div class="w-sticky w-top-0 w-z-header">
  <header class="w-slim-header w-flex w-flex-col sm:w-flex-row w-items-center w-justify-between w-bg-surface-header w-border-b w-border-border-furniture w-px-0 w-py-0 w-mb-0 w-relative w-top-0 w-z-header sm:w-sticky w-min-h-slim-header">

    {# Padding left on mobile to give space for navigation toggle, #}
    <div class="w-pl-slim-header sm:w-pl-5 w-min-h-slim-header sm:w-pr-2 w-w-full w-flex-1 w-overflow-x-auto w-box-border">
      <div class="w-flex w-flex-1 w-items-center w-overflow-hidden">
        {% block header_content %}
          {% if breadcrumbs_items %}
            {% with breadcrumb_link_classes="w-flex w-items-center w-h-full w-text-text-label w-no-underline w-outline-offset-inside hover:w-underline hover:w-text-text-label" breadcrumb_item_classes="w-h-full w-flex w-items-center w-overflow-hidden w-transition w-duration-300 w-whitespace-nowrap w-flex-shrink-0 w-font-bold" icon_classes="w-w-4 w-h-4 w-ml-3" %}
              {# Breadcrumbs are visible on mobile by default but hidden on desktop #}
              <div class="w-breadcrumb w-flex w-flex-row w-items-center w-overflow-x-auto w-overflow-y-hidden w-scrollbar-thin{% if breadcrumbs_is_expanded %} w-pl-3{% endif %}" data-breadcrumb-next>
                {% if not breadcrumbs_is_expanded %}
                  <button
                    type="button"
                    data-toggle-breadcrumbs
                    class="w-flex w-items-center w-justify-center w-box-border w-ml-0 w-p-4 w-w-slim-header w-h-full w-bg-transparent w-text-text-meta w-transition hover:w-scale-110 hover:w-text-text-label w-outline-offset-inside"
                    aria-label="{% trans "Toggle breadcrumbs" %}"
                    aria-expanded="false"
                  >
                    {% icon name="breadcrumb-expand" classname="w-w-4 w-h-4" %}
                  </button>
                {% endif %}

                <div class="w-relative w-h-slim-header w-mr-4 w-top-0 w-z-20 w-flex w-items-center w-flex-row w-flex-1 sm:w-flex-none w-transition w-duration-300">
                  <nav class="w-flex w-items-center w-flex-row w-h-full" aria-label="{% trans "Breadcrumb" %}">
                    <ol class="w-flex w-flex-row w-justify-start w-items-center w-h-full w-pl-0 w-my-0 w-gap-2 sm:w-gap-0 sm:w-space-x-2">
                      {% for item in breadcrumbs_items %}
                        <li
                          class="{{ breadcrumb_item_classes }}{% if not breadcrumbs_is_expanded and not forloop.last %} w-max-w-0{% endif %}"
                          {% if not breadcrumbs_is_expanded and not forloop.last %}
                            hidden
                          {% endif %}
                          {% if breadcrumbs_is_expanded or not forloop.last %}
                            data-breadcrumb-item
                          {% endif %}
                        >
                          {% if item.url %}
                            <a class="{{ breadcrumb_link_classes }}" href="{{ item.url }}">
                              {{ item.label }}
                            </a>
                          {% else %}
                            <div class="w-flex w-justify-start w-items-center">
                              {{ item.label }}
                            </div>
                          {% endif %}
                          {% if not forloop.last %}
                            {% icon name="arrow-right" classname=icon_classes %}
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ol>
                  </nav>
                </div>
              </div>
            {% endwith %}
          {% endif %}
        {% endblock %}
      </div>
    </div>

    <div class="w-w-full sm:w-w-min w-flex sm:w-flex-nowrap sm:w-flex-row w-items-center w-p-0 sm:w-py-0 sm:w-pr-4 sm:w-justify-end">
      {% block actions %}
        {% if side_panels %}
          {% include "wagtailadmin/shared/side_panel_toggles.html" %}
        {% endif %}
      {% endblock %}
    </div>
  </header>

  {% block side_panels %}
    {% if side_panels %}
      {% include "wagtailadmin/shared/side_panels.html" %}
    {% endif %}
  {% endblock %}
</div>
